SECRET_KEY=django-insecure-chave-exemplo-mude-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
NOME_DO_CLUBE=Clube de Desbravadores Águia Dourada
EXIBIR_HISTORICO_PUBLICO=True
